.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h1 {
    margin-bottom: 2rem;
    color: #333;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    box-sizing: border-box; /* Added to fix padding and width issues */
}

button {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    background-color: #444;
}

.login-switch {
    text-align: center;
    margin-top: 1rem;
}

.login-switch a {
    color: #0056b3;
    text-decoration: none;
}

.login-switch a:hover {
    text-decoration: underline;
}
